$tab: 1120px;
$sp: 800px;
$ssp: 420px;

@mixin tab {
    @media screen and (max-width: $tab) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: $sp) {
        @content;
    }
}

@mixin ssp {
    @media screen and (max-width: $ssp) {
        @content;
    }
}