@use "mixin" as m;

// ---------------------------- single-bg ----------------------------

.single-bg {
    position: relative;
    padding-block: 80px 40px;
    overflow: hidden; // はみ出し防止

    @include m.tab {
        padding-top: 180px;
    }

    @include m.sp {
        padding-top: 144px;
    }

    @include m.ssp {
        padding-top: 100px;
    }

    &::before {
        content: "";
        position: absolute;
        // inset: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        background-image: url(../img/single-bg.jpg);
        background-size: cover;
        background-position: bottom;
        z-index: -1; // 背景だけを後ろへ
    }

    .main-article {
        background-color: rgb(255, 255, 255, 0.8);
        max-width: 1000px;
        margin: 0 auto 100px;

        @include m.tab {
            max-width: none;
            margin-inline: 40px;
        }

        @include m.sp {
            margin-inline: 32px;
        }

        @include m.ssp {
            margin-inline: 16px;
        }
    }

    section {
        padding: 0;
    }

    .subpage-btn {
        background-color: #fefefe;
        padding-left: 32px;
    }
}


// ---------------------------- single-article ----------------------------

.single-wrapper {
    position: relative;
    margin-inline: 80px;
    padding-block: 80px;

    @include m.tab {
        position: static;
        margin-inline: 0;
        padding-block: 60px;
    }

    @include m.sp {
        padding-block: 40px;
    }

    @include m.sp {
        padding-block: 32px;
    }


    .single-img {
        position: absolute;
        width: 545px;
        z-index: 1;

        @include m.tab {
            position: static;
            width: auto;
            margin: 0 60px 24px;
        }

        @include m.sp {
            margin: 0 24px 24px;
        }

        @include m.sp {
            margin-inline: 16px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .single-title-bg {
        position: absolute;
        background-color: #104F59;
        width: 1000px;
        height: 200px;
        top: 115px;
        left: 50%;
        transform: translateX(-50%);

        @include m.tab {
            position: static;
            width: 100%;
            height: auto;
            transform: none;
            padding: 2.4rem 1.6rem;
        }

        .single-title-inner {
            position: absolute;
            top: 16px;
            left: 656px;
            color: #F5F5F5;

            @include m.tab {
                position: static;
                text-align: center;
                width: max-content;
                margin-inline: auto;

                p {
                    text-align: left;

                    @include m.ssp {
                        font-size: 1.4rem;
                    }
                }
            }

            h1 {
                font-size: 24px;
                margin-top: 48px;

                @include m.tab {
                    margin-top: 24px;
                }

                @include m.sp {
                    font-size: 2.2rem;
                }

                @include m.ssp {
                    font-size: 2rem;
                }
            }

            .nonetab-br {
                display: inline;

                @include m.tab {
                    display: none;
                }

                @include m.sp {
                    display: block;
                }
            }

        }
    }
}

.content {
    margin-top: 422px;

    @include m.tab {
        margin: 48px 60px 0;
    }

    @include m.sp {
        margin: 24px 24px 0;
    }

    p {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .content-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 50px;
        gap: 24px;

        @include m.tab {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 20px;
        }

        @include m.ssp {
            grid-template-columns: 1fr;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}


// ---------------------------- single-article-list ----------------------------

.blog-slide {
    position: relative;
    width: 70%;
    height: auto;
    margin-inline: auto;

    @include m.tab {
        width: 80%;
    }

    @include m.sp {
        width: 60%;
    }

    @include m.ssp {
        width: 70%;
    }

    .slick-slide {
        margin: 24px 40px;

        @include m.tab {
            margin-inline: 24px;
        }
    }

    article {
        // width: 100%;
        position: relative;
        z-index: 0;
        // ↑ 背景色をつけるために必要
        height: auto;
        transition: transform 0.25s ease-out;
        padding: 16px 16px 32px;

        @include m.sp {
            padding-inline: 8px;
        }

        &:hover {
            transform: translateY(-4px);

            &::before {
                box-shadow: 2px 2px 5px #104F59;
            }
        }

        &::before,
        &::after {
            pointer-events: none;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            inset: -8px;
            background-color: #fefefe;
            border: solid 1px #104F59;
            transition: transform 0.25s ease-out
        }

        &::after {
            position: absolute;
            z-index: 1;
            // ↑ 背景色をつけるために必要
            content: '';
            border: solid 3px #104F59;
            inset: 0;
            background-color: #fefefe;
            z-index: -1;
        }

        img {
            width: 100%;
            height: auto;
            margin-bottom: 16px;
        }

        h3 {
            font-size: 1.6rem;
            font-weight: normal;
            margin: 0 0 8px;
            padding: 0;

            @include m.sp {
                text-align: center;
            }
        }

        .time {
            font-size: 14px;

            @include m.sp {
                position: absolute;
                right: 16px;
            }
        }
    }

    .slide-arrow {
        position: absolute;
        top: 50%;
        width: 24px;
        height: 24px;
        background: transparent;
        border: none;
        transform: translateY(-50%);
        cursor: pointer;

        &::before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            border-top: 5px solid #104F59;
            border-right: 5px solid #104F59;
        }
    }

    .prev-arrow {
        left: -25px;

        &::before {
            transform: rotate(-135deg);
        }
    }

    .next-arrow {
        right: -25px;

        &::before {
            transform: rotate(45deg);
        }
    }

    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        padding: 0;
    }
}

.subpage-btn.archive {
    margin-top: 32px;

    @include m.sp {
        width: 218px;
    }
}





// ---------------------------- footer ----------------------------


footer.blog-page {
    margin-top: 0;
}