@use "common";
@use "works";
@use "order";
@use "about";
@use "blog";
@use "single";
@use "contact";
@use "mixin" as m;

// ---------------------------- index-top ----------------------------

.index-top {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @include m.sp {
        height: 350vh;
    }

    .index-top-img {
        width: 100%;
        height: 100%;
        display: block;

        @include m.sp {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 150%;
            object-fit: cover;
            transform: translateX(0);
            will-change: transform;
        }

        &.is-absolute {
            position: absolute;
            top: auto;
            bottom: 0;
        }
    }
}

.logo {
    position: absolute;
    border: solid 3px #C79955;
    background-color: #104F59;
    border-radius: 50%;
    height: clamp(100px, 17vw, 214px);
    width: clamp(100px, 17vw, 214px);
    right: 50%;
    top: 50%;
    transform: translate(67%, -42%);

    @include m.tab {
        display: none;
    }


    img {
        width: 100%;
        height: auto;
        transform: translateY(25%);
    }
}


// ---------------------------- works ----------------------------

.works {
    max-width: 1232px;
    margin-inline: auto;
    padding-inline: 16px;
}

.slide-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    gap: 24px;

    &::-webkit-scrollbar {
        display: none;
    }


    .slick-slide {
        transition: 0.3s ease;
        margin-inline: 8px;
    }

    li {
        flex: 0 0 280px;
        // flex: 0 0 calc((100% - 72px) / 4);
        /* gapが24px × 3 = 72px → 4枚表示 */
        scroll-snap-align: start;
        min-width: 0;

        @include m.tab {
            flex: 0 0 calc((90% - 48px) / 3);
        }

        @include m.sp {
            flex: 0 0 calc((80% - 24px) / 2);
        }

        @include m.ssp {
            flex: 0 0 calc(80%/ 1);
        }

        &:hover {
            scale: 0.9;
            transform: rotate(-4deg);
            transition: 0.3s ease;
        }
    }

    a {
        width: 100%;
    }

}


.green-shadow {
    box-shadow: 8px 8px #104F59;
}

.pink-shadow {
    box-shadow: 8px 8px #F2DAD5;
}

img {
    width: 100%;
}



// ---------------------------- blog ----------------------------

.green-btn.blog {
    margin-top: 48px;
}